@import '@/app/variables';

.cvContainer {
  width: 70%;
}

.content {
  width: 100%;
  padding: 40px;
  padding-top: 20px;
}

.role {
  font-size: $body;
  color: $accent6;
}

.section {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.sectionTitle {
  font-size: $title;
  margin: 0 0 30px 0;
  color: $accent6;
}

.cvItem {
  &:last-child {
    margin-bottom: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.organization {
  font-size: $subtitle;
  font-weight: bold;
  margin: 0;
}

.timePeriod {
  font-size: $body;
  color: $accent6;
  font-weight: 700;
}

.description {
  font-size: $body;
  margin: 0;
  color: $accent6;
}
