@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999999;
  --accents-4: #888888;
  --accents-5: #666666;
  --accents-6: #444444;
  --accents-7: #333333;
  --accents-8: #111111;

  --gray: #252729;
}

body {
  font-family: 'Jomolhari', serif, sans-serif;
}
